html, body {
    margin: 0;
}

body {
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #444;
    background-color: #fff;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.container {
    padding-left: 90px;
    padding-right: 90px;
}

.header {
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 10px;
}

.fc-icon {
    display: inline-block;
}

.fc-logo {
    height: 38px;
    width: 210px;
}

.fc-home {
    padding-top: 10px;
    float: right;
}

.inline-link {
    color: #337ab7;
    text-decoration: none;
}

.wrapper-header {
    border-bottom: 1px solid #eeeeee;
    padding: 20px;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.wrapper-logo-container {
    float: left;
    margin-right: 20px;
}

.heading-container {
    float: right;
    margin-left: 20px;
}

.wrapper-logo {
    height: 35;
    width: 64px;
    margin-bottom: -18px;
}

.heading {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.sub-heading {
    margin: 0;
    padding: 0;
}

.vertical-line {
    width: 1px;
    background-color: #eeeeee;
    float: left;
}

.wrapper-about {
    padding: 23px 0;
    border-bottom: 1px solid #eeeeee;
}

.wrapper-about h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.wrapper-about p {
    margin: 0;
    padding: 0;
}

.wrapper-features {
    padding: 23px 0;
}

.wrapper-features h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.list-container {
    margin: 0;
    padding: 0 0 0 16px;;
    box-sizing: border-box;
}

.list-container ul {
    margin: 0;
    padding: 0;
    list-style: circle;
}

.list-container ul li {
    margin: 0;
    padding: 3px 0;
}

.list-container ul li p {
    margin: 0;
    padding: 0;
}

.features-half-left {
    float: left;
    width: 50%;
}

.features-half-right {
    float: right;
    width: 50%;
}

.samples-viewer {
    margin-bottom: 35px;
}

.samples-slider {
    background: #f4f4f4;
    position: relative;
    margin-bottom: 35px;
}

.slider-container {
    overflow: hidden;
    height: 76px;
}

.sample-item-container {
    box-sizing: border-box;
    padding: 8px;
}

.sample-item {
    height: 60px;
    text-align: center;
    background: #fff;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 2px;
    padding: 2px;
    cursor: pointer;
    box-sizing: border-box;
}

.sample-logo-container {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.sample-logo {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.sample-title {
    display: inline-block;
    font-size: 0.75em;
    box-sizing: border-box;
    color: #696969;
    padding: 2px 5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    z-index: 99999;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.arrow:hover {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.arrow-icon-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-icon {
    margin-top: 5px;
}

.arrow-left .arrow-icon {
    margin-left: -2px;
}

.arrow-right .arrow-icon {
    margin-right: -2px;
}

.arrow-left {
    left: 0;
    margin-left: -32px;
}

.arrow-right {
    right: 0;
    margin-right: -32px;
}

.tab-labels-container {
    border-bottom: 1px solid #eeeeee;
}

.tab-label {
    display: inline-block;
    border: 1px solid #eeeeee;
    padding: 6px 20px;
    font-size: 0.79em;
    font-weight: bold;
    color: #696969;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: -1px;
}

.main-tab {
    margin-top: 15px;
}

.chart-viewer {
    border: 1px solid #eeeeee;
    height: 400px;
    width: 49%;
    box-sizing: border-box;
    float: left;
    padding: 10px;
}

.code-viewer {
    height: 400px;
    width: 49%;
    float: right;
    box-sizing: border-box;
}

.interactive-viewer {
    height: 400px;
    box-sizing: border-box;
}

.sample-loading-text {
    font-size: 0.8em;
    height: 400px;
    box-sizing: border-box;
}

.code-tab-container {
    box-sizing: border-box;
    padding: 7px;
}

.code-tab {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 359px;
}

.quick-start-heading {
    margin: 0 0 10px 0;
    padding: 0;
}

.footer {
    margin-bottom: 20px;
}

.footer > h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.community-links-holder {
    margin-bottom: 25px;
}

.community-links-holder ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.community-links-holder ul li {
    float: left;
}

.community-menu-item a {
    font-size: 12px;
}

.community-virtical-line {
    margin-left: 20px;
    margin-right: 20px;
}

.support-text-holder {
    margin-bottom: 25px;
}

.support-text-holder p {
    margin: 0;
    padding: 0;
}

.licensing-text-holder p {
    margin: 0;
    padding: 0;
}

.app-loader {
    position: relative;
    box-sizing: border-box;
}

.app-loader .anim-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.app-loader img.loader {
    height: 64px;
}

.app-loading-error {
    padding: 20px;
}

.app-loading-error h2 {
    padding: 0;
    margin: 0 0 10px 0;
    color: #B33A3A;
    text-align: center;
}

.app-loading-error p {
    margin: 0;
    padding: 0;
    text-align: center;
}

/*
* For Tablet devices
*/
@media screen and (max-width: 800px) {

    .container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .features-half-left {
        float: none;
        width: 100%;
    }

    .features-half-right {
        float: none;
        width: 100%;
    }

    .sample-title {
        padding: 0;
    }

    .chart-viewer {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
    
    .code-viewer {
        width: 100%;
        float: none;
    }

    .sample-loading-text {
        height: 810px;
    }
}

/*
* For Mobile devices
*/
@media screen and (max-width: 500px) {
    
    .header {
        text-align: center;
    }

    .fc-home {
        display: none;
    }

    body {
        font-size: 12px;
    }

    .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .wrapper-logo-container {
        float: none;
        margin-right: 0;
    }
    
    .heading-container {
        float: none;
        margin-left: 0;
    }

    .wrapper-logo {
        margin-bottom: 2px;
    }

    .wrapper-header .vertical-line {
        display: none;
    }

    .features-half-left {
        float: none;
        width: 100%;
    }

    .features-half-right {
        float: none;
        width: 100%;
    }

    .wrapper-header-vl {
        display: none;
    }

    .wrapper-logo-container {
        float: none;
        margin-right: 0;
        display: block;
    }
    
    .heading-container {
        float: none;
        margin-right: 0;
        display: block;
    }

    .slider-container {
        overflow: hidden;
        height: 83px;
    }

    .sample-item {
        height: 67px;
    }

    .sample-title {
        padding: 0;
    }

    .chart-viewer {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
    
    .code-viewer {
        width: 100%;
        float: none;
    }
    
    .sample-loading-text {
        height: 810px;
    }

    .arrow-left {
        margin-left: -20px;
    }
    
    .arrow-right {
        margin-right: -20px;
    }

    .community-links-holder ul {
        list-style: disc;
        padding-left: 20px;
    }
    
    .community-links-holder ul li {
        float: none;
        padding: 3px 0;
    }
    
    .community-virtical-line-item {
        display: none;
    } 

}

/*
* For landscape mode in Mobile devices
*/
@media screen and (max-width: 800px) and (orientation: landscape) {

    .container {
        padding-left: 35px;
        padding-right: 35px;;
    }

}