
.qs-section {
    margin-bottom: 25px;
}

.qs-heading {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1.17em;
}

.qs-text {
    margin: 0 0 10px 0;
    padding: 0;
}

.qs-highlight {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-weight: 400;
}

.qs-code {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.qs-link {
    color: #337ab7;
    text-decoration: none;
}