# PLATFORM
# ========
# All exclusions that are specific to the NPM, GIT, IDE and Operating Systems.

# - Do not allow installed node modules to be committed. Doing `npm install -d` will bring them in root or other places.
node_modules

# - Do not commit any log file from anywhere
*.log

# - Prevent addition of OS specific file explorer files
Thumbs.db
.DS_Store


# PROJECT
# =======
# Configuration pertaining to project specific repository structure.

# - Prevent Sublime text IDE files from being commited to repository
*.sublime-*

# - Prevent NetBeans IDE files from being commited to repository
nbproject/


# - Prevent extra `jshint` configuration from being committed from anywhere. Only `package.json` will be used as
#   accepted source of config.
.jshintrc

# - Prevent CI output files from being Added
/out/

# - Prevent diff backups from SourceTree from showing as commit.
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig

# ----------------------------------------------------------------------------------------------------------------------
# NPMIGNORE ADDITIONS
# ===================


# - Do not distribute submodule sources
/.gitmodules

__tests__/

example/

webpack.config.js

webpack.config.example.js
