@font-face {
    font-family: AvenirLTStd-Light;
    src: url("../../fonts/AvenirLTStd-Light.otf");
}

@font-face {
    font-family: AvenirLTStd-Heavy;
    src: url("../../fonts/AvenirLTStd-Heavy.otf");
}

#dashboard.tab-pane h3{
	margin: 0px;
	text-align: center;
	font-family: "AvenirLTStd-Light",sans-serif;
	text-transform: uppercase;
	background-color: #0e2429;
  	color: #F6BD0F;
  	padding-top: 15px;
  	padding-bottom: 10px;
  	margin-top: -30px;
}

#gtd-dashboard-container .hr-class{
	width: 95%;
	opacity: 0.7;
}

#gtd-dashboard-container {
	position: relative;
	margin:0px;
	width: 100%;
	margin-top: 20px;
}

#dashboard.tab-pane {
	background-color: #f6f6f6 !important;
}

#dashboard.tab-pane p {
	text-align: center;
}

#gtd-dashboard-container .gangnames_header {
	text-anchor: middle;
	stroke: none;
	font-family: "AvenirLTStd-Heavy",sans-serif;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: '#333333';
	display: none;
	margin-left: 10%;
	margin-top: 15px;
}

#gtd-dashboard-container .block{
	float: left;
}
#dashboard .cst-container{
	width: 1247px;
	overflow-y: auto;
}
#dashboard #dashboard-container object {
	width: 1247px;
	height: 770px;
}

#gtd-dashboard-container .table_block{
	font-family: Arial;
	text-align: left;
	margin-left: 5%;
	width: 475px;
	margin-top: 20px;
}

#gtd-dashboard-container table{
	margin-left: 5%;
	width: 90%;
	font-size: 12px;
}

#gtd-dashboard-container .table_no_of_attacks{
	width: 20%;
	text-align: center;
}

#gtd-dashboard-container .table_gang_name{
	width: 80%;
}

#gtd-dashboard-container td{
	border-top:1px solid lightgrey;
	padding-top: 5px;
}

#gtd-dashboard-container .table_right{
	text-align: center;
}

#gtd-dashboard-container #map_chart {
	width: 750px;
	height: 500px;
}